{% extends "base.html" %}

{% block title %}アカウント情報変更{% endblock %}

{% block content %}
<h1>アカウント情報変更</h1>
<form method="POST">
    <div class="form-group">
        <label for="email">メールアドレス：</label>
        <input type="email" name="email" value="{{ user.email }}">
    </div>
    <div class="form-group">
        <label for="birthdate">生年月日：</label>
        <input type="date" name="birthdate" value="{{ user.birthdate }}">
    </div>
    <div class="form-group">
        <label for="tall">身長(cm)：</label>
        <input type="number" name="tall" step="0.1" value="{{ user.tall }}">
    </div>
    <div class="form-group">
        <label for="gender">性別：</label>
        <input type="text" name="gender" value="{{ user.gender }}">
    </div>
    <div class="form-group">
        <label for="goalweight">目標体重(kg)：</label>
        <input type="number" name="goalweight" step="0.1" value="{{ user.goalweight }}">
    </div>
    <button type="submit">更新</button>
</form>
<p><a href="{{ url_for('profile') }}" class="button-link">プロフィールに戻る</a></p>
{% endblock %}